@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .page-header {
    @apply text-8xl pt-8 font-black
  }

  .section-header {
    @apply text-2xl font-semibold ml-16 mt-8
  }

  .page-subheader {
    @apply text-3xl pt-3 font-medium
  }

  .tag-pill {
    @apply py-0.5 px-3 bg-primary text-xs mt-1 text-white font-light mr-2 rounded-xl
  }

  .item-title{
    @apply font-semibold
  }

  .item-subtitle{
    @apply text-sm text-gray-400
  }

}

@layer components {
  .nav-item{
    @apply cursor-pointer transition ease-in-out duration-300 hover:scale-110 hover:text-text-highlight;
  }
  .nav-button{
    @apply bg-red-500 p-3 rounded-md bg-primary text-white px-10
  }

  .logged-in-button{
    @apply border border-primary p-3 rounded-md
  }
}
